# R related files
.Rproj.user/
.RData
.Rhistory
.github/workflows

# Quarto related files
.quarto/
tool_valitext.html

# Other project specific files
tool_sqp.Rproj
tool_valitext_files/
/.quarto/
index.html
